# dependencies
node_modules/
# builds
dist/
bin/
frontend/.angular/
frontend/out-tsc/
# go
backend/bin/
# env & secrets
.env
.env.*
!.env.example
!.env.production.example
# misc
*.log
tsconfig.tsbuildinfo
.DS_Store
.idea/
